footer {
    @include float(left);
    background-color: $red;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    .site-info {
        @include outer-container(55%);
        margin-top: 150px;
        margin-bottom: 150px;
        text-align: center;
        color: white;
        letter-spacing: 5px;

        h4 {
            font-family: $title-bold;
            margin-bottom: 75px;
        }

        .footer-left, .footer-right {
            @include span-columns(6);
            font-family: $content;
            font-size: 17px;
            color: white;
            letter-spacing: 0;

            img {
                margin: 0 45% 10px 45%;
            }
        }
        .footer-right {
            img {
                margin-top: -13px;
            }
        }
    }
    #footer-link {
        margin: 60px auto 0 auto;
        color: white;
        font-family: $title;
        font-size: 14px;
        letter-spacing: 5px;
        text-align: center;
        display: block;
        width: 187px;
        height: 52px;
        text-decoration: none;
        background: url('../images/what-i-do-up-grey.png') no-repeat;
        @include transition( color 0.5s );
        img {
            @include transition( opacity 0.5s );
        }
        &:hover {
            color: $grey;
            img {
                opacity: 0;
            }
        }
    }
}
