#masthead {
    background: black;
    .site-branding {
        text-align: center;
        background: black url('../images/glasses.png') no-repeat center 70px;
        background-size: contain;
        max-width: 1300px;
        margin: 0 auto;
        .site-title {
            font-family: $title;
            color: white;
            text-transform: uppercase;
            letter-spacing: 21px;

            @include media($sm) {
                padding-top: 20px;
                background: none;
            }
            @include media($smbg) {
                padding-top: 40px;

            }
            @include media($md) {
                @include fontSize(36px);
                padding-top: 19%;
                background: url('../images/lines.png') no-repeat center 75%;
            }

            a, a:visited {
                line-height: 1;
            }

        }

        .site-description {
            padding: 25px 0 100px 0;
            color: white;
            text-transform: uppercase;
            letter-spacing: 8px;

            @include fontSize(12px);

            @include media($sm) {

            }
            @include media($smbg) {

            }
            @include media($md) {
                @include fontSize(16px);
            }
            font-family: $title-light;
        }
        .aboutme-link {
            color: #F60022;
            font-family: $title;
            font-size: 14px;
            letter-spacing: 5px;
            background: url('../images/what-i-do-red.png') no-repeat 0 bottom;
            display: block;
            width: 187px;
            height: 50px;
            text-decoration: none;
            @include transition( background 0.5s, color 0.5s );

            &:hover {
                color: white;
                background-image: url('../images/what-i-do-white.png');
            }
        }
    }
}