.section {
  padding-top: 20px;
}
#aboutme {
  @include content-font();

  @include media($md) {
    @include outer-container(70%);
  }
}
#mywork {
  @include content-font();

  @include media($md) {
    @include outer-container(90%);
  }
}
#aboutme-link, #mywork-link {
  margin: 60px auto 0 auto;
  color: $grey;
  font-family: $title;
  font-size: 14px;
  letter-spacing: 5px;
  display: block;
  width: 187px;
  height: 52px;
  text-decoration: none;
  background: url('../images/what-i-do-red.png') no-repeat 0 bottom;
  @include transition( color 0.5s );
  img {
    @include transition( opacity 0.5s );
  }
  &:hover {
    color: $red;
    img {
      opacity: 0;
    }
  }
}
#resume-link {
  font-family: $title;
  font-size: 14px;
  text-decoration: none;
  color: $red;

  span {
    display: block;
  }
}
.entry-content {
  @include clearfix;
  .mywork-columns {
    @include span-columns(6);

    h4 {
      margin-bottom: 60px;
    }
  }
}