/* =Font-face declarations
-------------------------------------------------------------- */
@include font-face(PuristaMedium, "../fonts/purista_medium", $file-formats: ttf);
@include font-face(PuristaLight, "../fonts/purista_light", $file-formats: ttf);
@include font-face(Tinos, "../fonts/Tinos-Regular", $file-formats: ttf);


/* =Variables
-------------------------------------------------------------- */
$base-font-size: 20px;
$base-body-color: #fff;
$icon-color: #f00;
$primary-font-color: #000;
$grey: #ededed;
$link-color: #f00;
$title: PuristaMedium;
$title-light: PuristaLight;
$content: Tinos;
$shadow: rgba(0, 0, 0, .6);
